.footer {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContent > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerContent > div > div {
    display: flex;
    gap: 15px;
}

@media (max-width: 390px) {
    .footerContent {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .footerContent > div {
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .footerContent > div > div {
        gap: 40px;
    }

    .footerContent > p {
        text-align: center;
    }
}